
<section class="w3l-index5" id="about">
    <div class="new-block py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="middle-section text-center">
                <div class="section-width">
                    <h3 class="w3l-title-main"> Hayata Geçirdiğim Projeleri Video İle Keşfet!</h3>
                    <p class="mt-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, corrupti odit? At iure
                        facere,
                        porro repellat officia quas, dolores magnam assumenda soluta odit
                        harum
                        voluptate inventore ipsa maiores fugiat accusamus eos nulla. Iure voluptatibus explicabo
                        officia.
                    </p>
                </div>
                <div class="history-info mt-5">
                    <div class="position-relative">
                        <img src="~/Content/starter/assets/images/blog2.jpg" class="img-fluid radius-image video-popup-image"
                             alt="video-popup">

                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>

                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/Cu2VnoRcxKM" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                    <iframe src="https://www.youtube.com/embed/Z_KspIX1oXU" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-join py-5" id="join">
    <div class="container py-md-5 py-3">
        <div class="row">
            <div class="col-lg-7 video-info pe-lg-5">
                <div class="title-content">
                    <h3 class="w3l-title-main two mb-3">Bir Projeye Başlamak İstiyorsan Bana Ulaşabilirsin.</h3>
                    <p class="pe-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo. Semper at tempufddfel. Lorem ipsum dolor sit, amet consectetur elit.</p>

                </div>
            </div>
            <div class="col-lg-5 history-info align-self">
                <div class="w3banner-content-btns d-sm-flex justify-content-lg-end">
                    <a href="/Contact/SendMessage/" class="btn btn-style btn-primary mt-lg-5 mt-4 me-sm-3">Bana Ulaş </a>                 
                </div>
            </div>
        </div>
    </div>
</section>