@using ResmeProject.Models
@model  List<TblProject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
        int count = 0;
}

<h2>Projeler</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Proje Başlığı</th>
        <th>Proje Açıklaması</th>
        <th>Proje Görseli</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>           
            <td>@item.ProjectID</td>
            <td>@item.ProjectTitle</td>
            <td>@item.ProjectDescription</td>
            <td>@item.ProjectImageUrl</td>
            <td><a href="/Project/DeleteProject/@item.ProjectID/" class="btn btn-danger">Sil</a></td>
            <td><a href="/Project/UpdateProject/@item.ProjectID/" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Project/AddProject/" class="btn btn-primary">Yeni Proje Girişi</a>