
<div class="map mt-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12048.266312534579!2d29.012530972023317!3d40.98002294095874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab88ad4e3d75d%3A0xb55bf1e197d455d9!2zTW9kYSwgQ2FmZXJhxJ9hLCAzNDcxMCBLYWTEsWvDtnkvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1681662116494!5m2!1str!2str"
            frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
